<!-- include virtual="head.i.html" -->

<!-- ~~~~~~~~~ GnuPG Header and introduction text ~~~~~~~~~ -->
<header class="row" id="header"><div>

<h1>Autodéfense courriel</h1>

<!-- Language list for browsers that do not have JS enabled -->
<ul id="languages" class="os">
<li><a href="/en/workshops.html">English</a></li>
<!--<li><a href="/ar/workshops.html">العربية</a></li>-->
<!--<li><a href="/de/workshops.html">Deutsch</a></li>-->
<!--<li><a href="/el/workshops.html">ελληνικά</a></li>-->
<!--<li><a href="/es/workshops.html">español</a></li>-->
<li><a class="current" href="/fr/workshops.html">français</a></li>
<!--<li><a href="/it/workshops.html">italiano</a></li>-->
<!--<li><a href="/ja/workshops.html">日本語</a></li>-->
<!--<li><a href="/ko/workshops.html">한국어</a></li>-->
<!--<li><a href="/ml/workshops.html">മലയാളം</a></li>-->
<!--<li><a href="/pt-br/workshops.html">português do Brasil</a></li>-->
<!--<li><a href="/ro/workshops.html">română</a></li>-->
<li><a href="/ru/workshops.html">русский</a></li>
<!--<li><a href="/sq/workshops.html">Shqip</a></li>-->
<li><a href="/tr/workshops.html">Türkçe</a></li>
</ul>

<ul id="menu" class="os">
<li class="spacer"><a href="index.html">GNU/Linux</a></li>
<li><a href="mac.html">Mac OS</a></li>
<li><a href="windows.html">Windows</a></li>
<li class="spacer"><a href="workshops.html" class="current">Initiez vos amis</a></li>
<li class="spacer"><a
href="https://fsf.org/share?u=https://u.fsf.org/zb&amp;t=Chiffrement&nbsp;du&nbsp;courriel&nbsp;pour&nbsp;tous&nbsp;avec&nbsp;%40fsf">
Partagez&nbsp; <img src="//static.fsf.org/nosvn/enc-dev0/img/gnu-social.png"
class="share-logo"
alt="[GNU Social]" />&nbsp; <img src="//static.fsf.org/nosvn/enc-dev0/img/pump.io.png"
class="share-logo"
alt="[Pump.io]" />&nbsp; <img src="//static.fsf.org/nosvn/enc-dev0/img/reddit-alien.png"
class="share-logo"
alt="[Reddit]" />&nbsp; <img src="//static.fsf.org/nosvn/enc-dev0/img/hacker-news.png"
class="share-logo"
alt="[Hacker News]" /></a></li>
</ul>

<!-- ~~~~~~~~~ FSF Introduction ~~~~~~~~~ -->
<div id="fsf-intro">

<h3> <a href="http://u.fsf.org/ys"> <img
alt="Free Software Foundation" src="//static.fsf.org/nosvn/enc-dev0/img/fsf-logo.png" />
</a> </h3>

<div class="fsf-emphasis">

<p> Nous souhaitons traduire ce guide en d'autres langues et en faire une version pour
le chiffrement sur mobile. Merci de faire un don pour aider les gens de tous les pays à
faire le premier pas vers la protection de leur vie privée. </p>

</div>

<p><a
href="https://crm.fsf.org/civicrm/contribute/transact?reset=1&amp;id=14&amp;pk_campaign=email_self_defense&amp;pk_kwd=guide_donate"><img
alt="Faites un don" src="//static.fsf.org/nosvn/enc-dev0/img/fr/donate.png" /></a> </p>

</div><!-- End #fsf-intro -->

<!-- ~~~~~~~~~ Guide Introduction ~~~~~~~~~ -->
<div class="intro">

<p> <a id="infographic" href="https://emailselfdefense.fsf.org/fr/infographic.html"><img
src="//static.fsf.org/nosvn/enc-dev0/img/fr/infographic-button.png"
alt="Regardez et partagez notre infographie →" /></a>
Comprendre et configurer le chiffrement du courriel est une tâche colossale pour nombre
de gens. C'est pourquoi l'aide que vous apportez à vos amis dans l'utilisation de GnuPG
joue un rôle si important dans la diffusion de cette technique. Même si une seule personne
vient à votre atelier, c'est toujours une de plus qui utilisera le chiffrement. Vous avez
le pouvoir d'aider vos amis à préserver la confidentialité de leurs lettres d'amour
électroniques et de leur apprendre l'importance du logiciel libre. Si vous utilisez
GnuPG pour envoyer et recevoir des courriels chiffrés, vous êtes un candidat idéal à
l'animation d'ateliers&nbsp;!</p>

</div><!-- End .intro -->
</div></header><!-- End #header -->

<!-- ~~~~~~~~~ Section 1: Get your friends or community interested> ~~~~~~~~~ -->
<section style="padding-top: 0px;" class="row" id="section1">
<div style="padding-top: 0px;">

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro">

<p style="margin-top: 0px;" class="image"><img
src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/workshop-section1.png" /></p>

<h2><em>#1</em> Éveillez l'intérêt de vos amis ou de votre communauté </h2>

<p>Si vous entendez vos amis se plaindre du manque de respect pour les données personnelles,
demandez-leur si ça les intéresse de participer à un atelier sur l'autodéfense du courriel.
S'ils ne pestent pas au sujet des données personnelles, ils ont peut-être besoin
d'explications. Vous pourriez même entendre l'argument classique contre l'usage du
chiffrement&nbsp;: «&nbsp;Si vous n'avez rien à cacher, vous n'avez rien à craindre&nbsp;».</p>

<p>Voici quelques sujets de conversation qui les aideront à comprendre pourquoi cela vaut
la peine d'apprendre à utiliser GnuPG. Piochez dans cette liste ce qui aura du sens pour
votre communauté.</p>

</div><!-- End .section-intro -->
<div id="step-aa" class="step">
<div class="sidebar">
<!-- Workshops image commented out from here, to be used above instead.

<p><img id="workshops-image"
src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/workshop-section1.png"
alt="Workshop icon"></p>

-->
</div><!-- /.sidebar -->
<div class="main">

<h3>La force du nombre</h3>

<p>Chacune des personne qui choisit de résister à la surveillance de masse avec le
chiffrement permet aux autres de résister plus facilement. Démocratiser l'utilisation d'un
chiffrement fort a des effets puissants et multiples&nbsp;: cela signifie que ceux qui ont
le plus besoin de confidentialité, lanceurs d'alerte et activistes potentiels par exemple,
ont de meilleures chances d'apprendre l'existence du chiffrement. L'utilisation du
chiffrement par plus de gens et l'extension de son domaine d'application rendent plus
difficile pour les systèmes de surveillance d'identifier ceux qui ne peuvent pas se
permettre d'être découverts, et montre votre solidarité avec eux.</p>

</div><!-- End .main -->
<div class="main">

<h3>Des gens que vous respectez utilisent peut-être déjà le chiffrement</h3>

<p>De nombreux journalistes, lanceurs d'alerte, activistes et chercheurs utilisent
GNuPG&nbsp;; vos amis, sans le savoir, peuvent donc avoir entendu parler de quelques
personnes qui l'utilisent déjà. Une recherche avec «&nbsp;BEGIN PUBLIC KEY BLOCK&nbsp;»,
+ un autre mot-clé, peut vous aider à faire une liste de personnes et d'organisations
que votre communauté est susceptible de reconnaître.</p>

</div><!-- End .main -->
<div class="main">

<h3>Respectez la vie privée de vos amis</h3>

<p>Il n'y a aucun moyen objectif d'évaluer le caractère privé d'une correspondance. Par
conséquent, il vaut mieux ne pas partir du principe que le courriel destiné à votre
ami, inoffensif à votre avis, le sera aussi pour lui (ou d'ailleurs pour un service de
surveillance&nbsp;!) Montrez du respect à vos amis en chiffrant votre correspondance
avec eux.</p>

</div><!-- End .main -->
<div class="main">

<h3>Les techniques de protection de la vie privée sont normales dans le monde physique</h3>

<p>Dans l'espace physique, nous trouvons normal de protéger notre vie privée au moyen
de volets, d'enveloppes et de portes fermées. Pourquoi l'espace numérique serait-il
différent&nbsp;?</p>

</div><!-- End .main -->
<div class="main">

<h3>Nous ne devrions pas avoir à confier nos données personnelles à nos fournisseurs de
messagerie</h3>

<p>Certains fournisseurs de messagerie sont tout à fait dignes de confiance, mais nombreux
sont ceux qui ont avantage à ne pas protéger nos données personnelles et notre sécurité. Pour
devenir des cybercitoyens en pleine possession de leurs moyens, nous devons prendre en mains
notre propre sécurité.</p>

</div><!-- End .main -->
</div><!-- End #step-2a .step -->
</div></section><!-- End #section1 -->

<!-- ~~~~~~~~~ Section 2: Plan The Workshop ~~~~~~~~~ -->
<section class="row" id="section2"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro" style="border: none; padding-bottom: 0px; margin-bottom: 0px;">

<h2><em>#2</em> Organisez l'atelier</h2>

<p>Une fois que vous aurez éveillé l'intérêt d'au moins un ami, choisissez une date et
commencez à organiser l'atelier. Dites aux participants d'apporter leur ordinateur et leur
carte d'identité (pour se signer mutuellement leurs clefs). Si vous souhaitez leur rendre
plus facile l'utilisation de Diceware pour le choix des mots de passe, procurez-vous à
l'avance un jeu de dés. Assurez-vous que le lieu choisi pour l'atelier ait une connexion
internet facilement accessible et prévoyez un plan B au cas où la connexion cesserait
de fonctionner le jour de l'atelier. Les bibliothèques, cafés et centres socio-culturels
sont des lieux bien adaptés. Essayez d'obtenir que tous les participants installent
avant l'événement un client de messagerie compatible avec Enigmail. Conseillez-leur de
s'adresser au service technique de leur fournisseur de messagerie ou de lire sa documentation
s'ils rencontrent des erreurs.</p>

<p> </p>

<p>Comptez que l'atelier durera au moins quarante minutes, plus dix minutes par participant.
Prévoyez du temps en plus pour les questions et les accrocs techniques.</p>

<p>Pour que l'atelier soit couronné de succès, il vous faudra comprendre l'environnement
culturel et les besoins particuliers de chaque groupe de participants. Les ateliers
doivent rester de taille modeste pour que chacun reçoive une formation individualisée.
Si plus d'une poignée de gens veulent participer, recrutez d'autres animateurs pour
minimiser le nombre de participants par animateur, ou bien animez plusieurs ateliers.
Les petits ateliers entre amis fonctionnent à merveille&nbsp;!</p>

</div><!-- End .section-intro -->
</div></section><!-- End #section2 -->

<!-- ~~~~~~~~~ Section 3: Follow The Guide ~~~~~~~~~ -->
<section class="row" id="section3"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro" style="border: none; padding-bottom: 0px; margin-bottom: 0px;">

<h2><em>#3</em> Suivez le guide en groupe</h2>

<p>Travaillez en groupe chaque étape du guide Autodéfense courriel. Décrivez précisément
chaque étape, mais ne submergez pas les participants de petits détails. Ajustez l'essentiel
de vos explications au niveau technique des participants les moins avancés. Assurez-vous
après chaque étape que tous les participants l'ont menée à bien avant de passer à l'étape
suivante. N'hésitez pas à organiser des ateliers secondaires après coup pour les
personnes qui ont eu du mal à comprendre les concepts, ou pour celles qui les ont compris
mais veulent en savoir plus.</p>

<p>À la <a href="index.html#section2">section&nbsp;2</a> du guide, assurez-vous que les
participants envoient tous leurs clefs sur le même serveur, afin que chacun puisse
télécharger les clefs des autres tout de suite après (il y a quelquefois un retard de
synchronisation entre les serveurs). À la <a href="index.html#section3">section&nbsp;3</a>,
donnez aux participants le choix de s'envoyer mutuellement des messages au lieu (ou en plus)
de les envoyer à Edward. À la <a href="index.html#section4">section&nbsp;4</a>, encouragez
les participants à se signer mutuellement leurs clefs. Et à la fin, rappelez-leur de
mettre en lieu sûr une copie de leur certificat de révocation.</p>

</div><!-- End .section-intro -->
</div></section>

<!-- ~~~~~~~~~ Section 4: Explain the pitfalls ~~~~~~~~~ -->
<section class="row" id="section4"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro" style="border: none; padding-bottom: 0px; margin-bottom: 0px;">

<h2><em>#4</em> Expliquez les pièges</h2>

<p>Rappelez aux participants que le chiffrement ne marche que s'il est utilisé de manière
explicite&nbsp;; ils ne seront pas en mesure d'envoyer un courriel chiffré à une personne
qui n'a pas encore configuré le chiffrement. Rappelez-leur également de bien vérifier
l'icône de chiffrement avant de cliquer sur Envoyer, et aussi que le sujet et l'horodatage
ne sont jamais chiffrés.</p>

<p> Expliquez les <a href="https://www.gnu.org/proprietary/proprietary.html">
dangers qu'implique l'usage d'un système privateur</a> et faites-vous
l'avocat du logiciel libre, parce que sans lui nous ne pouvons pas <a
href="https://www.fsf.org/bulletin/2013/fall/how-can-free-software-protect-us-from-surveillance">
résister valablement aux atteintes à notre vie privée et notre autonomie
numériques</a>.</p>

</div><!-- End .section-intro -->
</div></section><!-- End #section4 -->

<!-- ~~~~~~~~~ Section 5: Explain The Pitfalls ~~~~~~~~~ -->
<section id="section5" class="row"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro" style="border: none; padding-bottom: 0px; margin-bottom: 0px;">

<h2><em>#5</em> Partagez d'autres ressources</h2>

<p>Les options avancées de GnuPG sont beaucoup trop complexes pour les traiter
dans un seul atelier. Si les participants veulent en savoir plus, signalez-leur
les sous-sections «&nbsp;Utilisation avancée&nbsp;» du guide et envisagez
d'organiser un autre atelier. Vous pouvez aussi les orienter vers la documentation
officielle de <a href="https://www.gnupg.org/documentation/index.html">GnuPG</a> et d'<a
href="https://www.enigmail.net/documentation/index.php">Enigmail</a>, ainsi que vers les
listes de discussion. Les sites de nombreuses distributions GNU/Linux contiennent également
une page expliquant les fonctions avancées de GnuPG.</p>

</div><!-- End .section-intro -->
</div></section><!-- End #section5 -->

<!-- ~~~~~~~~~ Section 6: Next steps ~~~~~~~~~ -->
<section class="row" id="section6"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro" style="border: none; padding-bottom: 0px; margin-bottom: 0px;">

<h2><em>#6</em> Effectuez un suivi</h2>

<p>Assurez-vous que tout le monde a partagé son adresse de courriel et l'empreinte de
sa clef avec les autres avant de partir. Encouragez les participants à s'envoyer des
messages pour acquérir de l'expérience avec GnuPG, et envoyez-leur à chacun un message
chiffré une semaine après l'atelier, pour leur rappeler d'ajouter l'empreinte de leur
clef publique à leur adresse de courriel, partout où cette dernière apparaît.</p>

<p>Si vous avez des suggestions pour améliorer ce guide de l'animateur d'atelier, merci
de nous les communiquer à <a href="mailto:campaigns@fsf.org">campaigns@fsf.org</a>.</p>

</div><!-- End .section-intro -->
</div></section><!-- End #section6 -->

<!-- ~~~~~~~~~ FAQ ~~~~~~~~~ -->
<!-- When un-commenting this section go to main.css and search for /* Guide Sections
Background */ then add #faq to the desired color <section class="row" id="faq"><div>
<div class="sidebar">

<h2>FAQ</h2>

</div>
<div class="main">

<dl>
<dt>My key expired</dt>

<dd>Answer coming soon.</dd>

<dt>Who can read encrypted messages? Who can read signed ones?</dt>

<dd>Answer coming soon.</dd>

<dt>My email program is opening at times I don't want it to open/is now my default program
and I don't want it to be.</dt>

<dd>Answer coming soon.</dd>
</dl>

</div>
</div>
</section> --><!-- End #faq -->
<!-- include virtual="footer.i.html" -->
<!-- include virtual="javascript.i.html" -->
