<!-- include virtual="head.html" -->

<header class="row centered" id="header"><div>

<p><strong>Please check your email for a confirmation link now. Thanks for
joining our list!</strong></p>

<p>If you don't receive the confirmation link, send us an email at info@fsf.org
to be added manually.</p>

<br />

<p><img
src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/section3-try-it-out.png"
alt="Try it out." /></p><br />

<p>Join us on microblogging services for day-to-day updates:</p>

<p style="font-size:150%"><a href="https://status.fsf.org/fsf"><img
src="//static.fsf.org/nosvn/enc-dev0/img/gnu-social.png"
class="share-logo"
alt="[GNU Social]" />
&nbsp;GNU Social</a>&nbsp; |&nbsp;
<a href="http://microca.st/fsf"><img
src="//static.fsf.org/nosvn/enc-dev0/img/pump.io.png"
class="share-logo"
alt="[Pump.io]" />
&nbsp;Pump.io</a>&nbsp; |&nbsp;
<a href="https://www.twitter.com/fsf">Twitter</a></p>

<p><small><a href="https://www.fsf.org/twitter">Read why GNU Social and
Pump.io are better than Twitter.</a></small></p>

<hr />

<p class="back" style="font-size:150%">&larr; Return to <a
href="index.html">Email Self-Defense</a></p>

</div></header><!-- End #header -->

<!-- include virtual="footer.html" -->

<!-- include virtual="javascript.html" -->
