<!-- include virtual="head.html" -->

<!-- ~~~~~~~~~ GnuPG Header and introduction text ~~~~~~~~~ -->
<header class="row" id="header"><div>

<h1>Great job!</h1>

</div></header><!-- End #header -->

<!-- ~~~~~~~~~ Section 6: Next steps ~~~~~~~~~ -->
<section class="row" id="section6"><div>

<!-- ~~~~~~~~~ section title + graphics ~~~~~~~~~ -->
<div class="section-intro">

<h2><em>#6</em> Next steps</h2>

<p>You've now completed the basics of email encryption with GnuPG, taking
action against bulk surveillance. These next steps will help make the most
of the work you've done.</p>

</div><!-- End .section-intro -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-political" class="step">
<div class="sidebar">

<p><a id="infographic" href="infographic.html"><img
src="//static.fsf.org/nosvn/enc-dev0/img/en/infographic-button.png"
alt="View &amp; share our infographic &rarr;" /></a></p>

</div><!-- /.sidebar -->
<div class="main">

<h3>Join the movement</h3>

<p>You've just taken a huge step towards protecting your privacy online. But
each of us acting alone isn't enough. To topple bulk surveillance, we need
to build a movement for the autonomy and freedom of all computer users. Join
the Free Software Foundation's community to meet like-minded people and work
together for change.</p>

<p style="font-size:150%"><a href="https://status.fsf.org/fsf"><img
src="//static.fsf.org/nosvn/enc-dev0/img/gnu-social.png"
class="share-logo"
alt="[GNU Social]" />
&nbsp;GNU Social</a>&nbsp; |&nbsp;
<a href="http://microca.st/fsf"><img
src="//static.fsf.org/nosvn/enc-dev0/img/pump.io.png"
class="share-logo"
alt="[Pump.io]" />
&nbsp;Pump.io</a>&nbsp; |&nbsp;
<a href="https://www.twitter.com/fsf">Twitter</a></p>

<p><small>Read <a href="https://www.fsf.org/twitter">why GNU Social and Pump.io
are better than Twitter</a>, and <a href="http://www.fsf.org/facebook">why
we don't use Facebook</a>.</small></p>

<br />
<div class="newsletter">

<p style="font-size:150%">Low-volume mailing list</p>

<form method="post"
action="https://my.fsf.org/civicrm/profile/create?reset=1&amp;gid=391">
<input type="text" placeholder="Type your email..." name="email-Primary"
id="frmEmail" />
<input type="submit" value="Add me" name="_qf_Edit_next" />
<input type="hidden"
value="https://emailselfdefense.fsf.org/en/confirmation.html" name="postURL" />
<input type="hidden" value="1" name="group[25]" />
<input type="hidden"
value="https://my.fsf.org/civicrm/profile?reset=1&amp;gid=391" name="cancelURL"
/>
<input type="hidden" value="Edit:cancel" name="_qf_default" />
</form>

<p><small>Read our <a
href="https://my.fsf.org/donate/privacypolicy.html">privacy
policy</a>.</small></p>

</div><!-- End .newsletter -->
</div><!-- End .main -->
</div><!-- End #step-political .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="teach-friends" class="step">
<div class="main">

<h3>Bring Email Self-Defense to new people</h3>

<p>Understanding and setting up email encryption is a daunting task for
many. To welcome them, make it easy to find your public key and offer to
help with encryption. Here are some suggestions:</p>

<ul>
<li>Lead an Email Self-Defense workshop for your friends and community,
using our <a href="workshops.html">teaching guide</a>.</li>

<li>Use <a href="https://fsf.org/share?u=https://u.fsf.org/zb&amp;t=Encrypt
with me using Email Self-Defense %40fsf">our sharing page</a> to compose
a message to a few friends and ask them to join you in using encrypted
email. Remember to include your GnuPG public key fingerprint so they can
easily download your key.</li>

<li>Add your public key fingerprint anywhere that you normally display
your email address. Some good places are: your email signature (the text
kind, not the cryptographic kind), social media profiles, blogs, Websites,
or business cards. At the Free Software Foundation, we put ours on our <a
href="https://fsf.org/about/staff">staff page</a>.</li>
</ul>

</div><!-- End .main -->
</div><!-- End #teach-friends .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-more_technologies" class="step">
<div class="main">

<h3>Protect more of your digital life</h3>

<p>Learn surveillance-resistant technologies for instant
messages, hard drive storage, online sharing, and more at <a
href="https://directory.fsf.org/wiki/Collection:Privacy_pack">
the Free Software Directory's Privacy Pack</a> and <a
href="https://prism-break.org">prism-break.org</a>.</p>

<p>If you are using Windows, Mac OS or any other proprietary operating
system, we recommend you switch to a free software operating system like
GNU/Linux. This will make it much harder for attackers to enter your computer
through hidden back doors. Check out the Free Software Foundation's <a
href="http://www.gnu.org/distros/free-distros.html">endorsed versions of
GNU/Linux.</a></p>

</div><!-- End .main -->
</div><!-- End #step-more_technologies .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="privacy-tor" class="step">
<div class="main">

<h3>Optional: Add more email protection with Tor</h3>

<p><a href="https://www.torproject.org/about/overview.html.en">The Onion Router
(Tor) network</a> wraps Internet communication in multiple layers of encryption
and bounces it around the world several times. When used properly, Tor confuses
surveillance field agents and the global surveillance apparatus alike. Using
it simultaneously with GnuPG's encryption will give you the best results.</p>

<p>To have your email program send and receive email over Tor, install the <a
href="https://addons.mozilla.org/en-us/thunderbird/addon/torbirdy/">Torbirdy
plugin</a> the same way you installed Enigmail, by searching for it through
Add-ons.</p>

<p>Before beginning to check your email over Tor, make sure you understand <a
href="https://www.torproject.org/docs/faq.html.en#WhatProtectionsDoesTorProvide">
the security tradeoffs involved</a>. This <a
href="https://www.eff.org/pages/tor-and-https">infographic</a> from our
friends at the Electronic Frontier Foundation demonstrates how Tor keeps
you secure.</p>

</div><!-- End .main -->
</div><!-- End #privacy-tor .step-->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-better" class="step">
<div class="sidebar">

<p><img
src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/section6-next-steps.png"
alt="Section 6: Next Steps" /></p><br />

<p class="back" style="text-align:center">&larr; <a href="index.html">Return
to the guide</a></p>

</div><!-- /.sidebar -->
<div class="main">

<h3>Make Email Self-Defense tools even better</h3>

<p><a href="https://libreplanet.org/wiki/GPG_guide/Public_Review">Leave
feedback and suggest improvements to this guide</a>. We
welcome translations, but we ask that you contact us at <a
href="mailto:campaigns@fsf.org">campaigns@fsf.org</a> before you start,
so that we can connect you with other translators working in your language.</p>

<p>If you like programming, you can contribute code
to <a href="https://www.gnupg.org/">GnuPG</a> or <a
href="https://www.enigmail.net/home/index.php">Enigmail</a>.</p>

<p>To go the extra mile, support the Free Software Foundation so we can keep
improving Email Self-Defense, and make more tools like it.</p>

<p><a
href="https://crm.fsf.org/civicrm/contribute/transact?reset=1&amp;id=14&amp;pk_campaign=email_self_defense&amp;pk_kwd=guide_donate"><img
alt="Donate"
src="//static.fsf.org/nosvn/enc-dev0/img/en/donate.png" /></a></p>

<br />
</div><!-- End .main -->
</div><!-- End #step-better .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~
<div id="step-learn_more" class="step">
<div class="main">

<h3>Learn more about GnuPG</h3>

<p>There are a lot more features of GnuPG to discover, including
encrypting files on your computer. There are a variety of resources
accessible via Google, but we recommend starting with the links on the <a
href="https://www.gnupg.org/documentation/">GnuPG Web site</a>.</p>

</div>--><!-- End .main -->
<!--</div>--><!-- End #step-learn_more .step -->
</div></section><!-- End #section6 -->

<!-- ~~~~~~~~~ FAQ ~~~~~~~~~ -->
<!-- When un-commenting this section go to main.css and search
for /* Guide Sections Background */ then add #faq to the desired color
<section class="row" id="faq"><div>
<div class="sidebar">

<h2>FAQ</h2>

</div>
<div class="main">

<dl>
<dt>My key expired</dt>
<dd>Answer coming soon.</dd>

<dt>Who can read encrypted messages? Who can read signed ones?</dt>
<dd>Answer coming soon.</dd>

<dt>My email program is opening at times I don't want it to open/is now my
default program and I don't want it to be.</dt>
<dd>Answer coming soon.</dd>
</dl>

</div>
</div>
</section> --><!-- End #faq -->

<!-- include virtual="footer.html" -->

<!-- include virtual="javascript.html" -->
